---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Project from '../components/Projects.astro';
---

<Layout title="Ariful Hasan | Senior Developer">
  <main>
    <Hero />
    <Skills />
    <Experience />
    <Project />
  </main>
</Layout>